<%- include('includes/head') %>
<body>
    <div class="main">
        <div class="head" >
            Ibrahim ALi
        </div>
        <div class="primary">
            this is me
        </div>
    </div>
</body>
</html>