.main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.head
{
    height:  100vh;
    border: 1px solid black;
    width: 50%;
    background-color: green;
}
.primary{
    width: 50%;
    height: 100vh;
    border: 1px solid black;
    background-color: red;
}